### Datasets y Dataframes: Sugerencias

En primer lugar debemos instalar el el paquete **MLDatasets** y **DataFrames**.

In [8]:
using MLDatasets: Titanic #de esta forma ya estamos importando el datasets 'Titanic'
using DataFrames

In [9]:
#visualizamos el datasets
titanic = Titanic()
df = titanic.dataframe

891Ã—12 DataFrame
 Row â”‚ PassengerId  Survived  Pclass  Name                               Sex   â‹¯
     â”‚ Int64        Int64     Int64   String                             Strin â‹¯
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚           1         0       3  Braund, Mr. Owen Harris            male  â‹¯
   2 â”‚           2         1       1  Cumings, Mrs. John Bradley (Florâ€¦  femal
   3 â”‚           3         1       3  Heikkinen, Miss. Laina             femal
   4 â”‚           4         1       1  Futrelle, Mrs. Jacques Heath (Liâ€¦  femal
   5 â”‚           5         0       3  Allen, Mr. William Henry           male  â‹¯
   6 â”‚           6         0       3  Moran, Mr. James                   male
   7 â”‚           7         0       1  McCarthy, Mr. Timothy J            male
   8 â”‚           8         0       3  Palsson, Master. Gosta Leonard     male
  â‹®  â”‚      â‹®          â‹®        â‹®                     â‹®                     â‹®  â‹±
 885 â”‚         885         0       3  Sutehall, Mr. Henry Jr             male  â‹¯
 886 â”‚         886         0       3  Rice, Mrs. William (Margaret Norâ€¦  femal
 887 â”‚         887         0       2  Montvila, Rev. Juozas              male
 888 â”‚         888         1       1  Graham, Miss. Margaret Edith       femal
 889 â”‚         889         0       3  Johnston, Miss. Catherine Helen â€¦  femal â‹¯
 890 â”‚         890         1       1  Behr, Mr. Karl Howell              male
 891 â”‚         891         0       3  Dooley, Mr. Patrick                male
                                                  8 columns and 876 rows omitted

In [10]:
#para seleccionar algunas columnas podemos hacer lo siguiente
df = df[!,[:Survived,:Pclass,:Age,:Fare]]

891Ã—4 DataFrame
 Row â”‚ Survived  Pclass  Age        Fare
     â”‚ Int64     Int64   Float64?   Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚        0       3       22.0   7.25
   2 â”‚        1       1       38.0  71.2833
   3 â”‚        1       3       26.0   7.925
   4 â”‚        1       1       35.0  53.1
   5 â”‚        0       3       35.0   8.05
   6 â”‚        0       3  missing     8.4583
   7 â”‚        0       1       54.0  51.8625
   8 â”‚        0       3        2.0  21.075
  â‹®  â”‚    â‹®        â‹®         â‹®         â‹®
 885 â”‚        0       3       25.0   7.05
 886 â”‚        0       3       39.0  29.125
 887 â”‚        0       2       27.0  13.0
 888 â”‚        1       1       19.0  30.0
 889 â”‚        0       3  missing    23.45
 890 â”‚        1       1       26.0  30.0
 891 â”‚        0       3       32.0   7.75
                            876 rows omitted

In [11]:
#sugerencia para calcular la mediana donde hay 'missing'. Para esto necesitamos el paquete Statistics
using Statistics
mediana_age = median(dropmissing(df[!,[:Age]],disallowmissing=true)[!,:Age])

28.0

In [12]:
#reemplazamos los lugares con 'missing' por la mediana calculada
replace!(df.Age,missing =>mediana_age)
df

891Ã—4 DataFrame
 Row â”‚ Survived  Pclass  Age       Fare
     â”‚ Int64     Int64   Float64?  Float64
â”€â”€â”€â”€â”€â”¼â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
   1 â”‚        0       3      22.0   7.25
   2 â”‚        1       1      38.0  71.2833
   3 â”‚        1       3      26.0   7.925
   4 â”‚        1       1      35.0  53.1
   5 â”‚        0       3      35.0   8.05
   6 â”‚        0       3      28.0   8.4583
   7 â”‚        0       1      54.0  51.8625
   8 â”‚        0       3       2.0  21.075
  â‹®  â”‚    â‹®        â‹®        â‹®         â‹®
 885 â”‚        0       3      25.0   7.05
 886 â”‚        0       3      39.0  29.125
 887 â”‚        0       2      27.0  13.0
 888 â”‚        1       1      19.0  30.0
 889 â”‚        0       3      28.0  23.45
 890 â”‚        1       1      26.0  30.0
 891 â”‚        0       3      32.0   7.75
                           876 rows omitted